/* Initialisation */
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.clear,.postmetadata {
	clear: both;
}

/* Core structure */
#page {
	margin: 54px auto;
	width: 936px;
	text-align: left;
}

#content {
	float: left;
	padding: 0 0 54px 0px;
	width: 700px;
}

#sidebar {
	float: right;
	margin: 0 0 0 36px;
	padding-bottom: 54px;
	width: 198px;
}

#footer {
	margin: 0px auto;
	width: 936px;
	clear: both;
}

/* Universal typography and colors */
body {
	font-size: 12px;
	line-height: 18px;
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
	color: #111;
	text-align: center;
	background-image: url('images/background.png') repeat-x;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

hr {
	display: none;
}

a,a:hover {
	color: #003399;
	font-weight: bold;
}

a img {
	border: none;
}

small {
	font-size: 10px;
	line-height: 18px;
}

/* header */
#header {
	text-align: center;
}

#header #logo {
	float: left;
	width: 100%;
}

#header #logo h1 {
	line-height: 30px;
	font-size: 24px;
}

#header #logo h1 a, #header #logo h1 a:hover {
	color: #990000;
	text-shadow: #000 1px 1px 1px, #FFF -1px -1px 1px;
}

#header #logo h3 {
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
	text-shadow: #DDD 1px 2px 2px;
}

#header #menu {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#header #menu ul li a {
	color: #FFF;
	font-size: 13px;
	text-shadow: #AAA 1px 1px 1px;
	font-weight: bold;
}

#header #menu ul li a:hover {
	color: #EEE;
}

/* Content, entries */
.entry p {
	color: #333;
}

.entry ol,.entry ul {
	padding: 0 0 0 36px;
	margin: -9px 0px 9px 0px;
}

.post {
	margin: 0 0 36px;
}

.post hr {
	display: block;
}

.post p {
	margin: 0 0 18px 0;
}

.post h2,.post h2 a {
	font-size: 16px;
	color: #0066CC;
	margin-bottom: 5px;
	text-shadow: #333 1px 1px 1px;
}

.post h2 a:hover {
	color: #003399;
}

#content .smallattachment {
	text-align: center;
	float: left;
	width: 128px;
	margin: 5px 5px 5px 0px;
}

#content .attachment {
	text-align: center;
	margin: 5px 0px;
}

#content p.pre-content, h3#comments {
	text-align: right;
	border-bottom: 1px solid #CCC;
	color: #BBB;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 15px;
	text-shadow: #DDD 1px 1px 1px;
}

#content p.pre-content a,#content p.pre-content a:hover {
	color: #CCC;
}

.post p.postmetadata,.postdetails {
	color: #999;
}

.post p.postmetadata a,.postdetails a {
	color: #999;
}

.post p.postmetadata a:hover,.postdetails a:hover {
	color: #990000;
}

.entry p a {
	border-bottom: 1px dotted #999;
}

.bottom_margin_bigger {
	margin-bottom: 10px;
}

/* Images */
p img {
	max-width: 100%;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	margin: 0 0 2px 18px;
	display: inline;
}

img.alignleft {
	margin: 0 18px 2px 0;
	display: inline;
}

.description {
	color: #CCC;
	font-size: 10px;
}

#footer p a {
	color: #999;
}

#footer p a:hover {
	color: #fff;
}

#footercontainer {
	width: 936px;
	text-align: center;
	/*
	margin: 0px auto;
	padding: 7px 0px;
	color: #666;
	*/
}

/* Sidebar */
#sidebar p {
	margin-bottom: 18px;
}

#sidebar h2 {
	font-size: 13px;
	line-height: 18px;
	margin: 0px;
	font-weight: bold;
	color: #990000;
}

#sidebar ul {
	list-style-type: none;
}

#sidebar ul li {
	list-style-type: none;
	margin: 0 0 18px 0;
}

#sidebar ul ul {
	list-style-type: none;
}

#sidebar ul ul li {
	list-style-type: none;
	margin: 0px;
	color: #003399;
}

#sidebar ul ul li a {
	color: #0066CC;
}

#sidebar ul ul li a:hover {
	color: #003399;
}

#sidebar ul ul,#sidebar ul ol {
	margin: 0 0 0 12px;
}

#sidebar ul ul ul,#sidebar ul ol {
	margin: 0 0 0 12px;
}

ol li,#sidebar ul ol li {
	list-style: decimal outside;
}

/* Pagination */
.pagination {
	clear: both;
	text-align: center;
	padding: 20px 0;
	position: relative;
	font-size: 11px;
	line-height: 13px;
}

.pagination span,.pagination a {
	display: block;
	float: left;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background: #555;
}

.pagination a:hover {
	color: #fff;
	background: #3279BB;
}

.pagination .current {
	padding: 6px 9px 5px 9px;
	background: #3279BB;
	color: #fff;
}

/* Search Box */
#searchbox {
	float: right;
	width: 198px;
	height: 36px;
	background: url(images/headless_searchbox.jpg) no-repeat;
	margin-bottom: 18px;
}

#searchbox #s {
	float: left;
	border: 0;
	margin: 2px 0px 0px 6px;
	width: 152px;
	background: none;
	color: #999999;
	height: 34px;
	font-size: 24px;
	line-height: 34px;
}

#searchbox #go {
	float: right;
	width: 36px;
	height: 36px;
}

/* Comments */

.commentlist {
	color: #666;
	text-align: left;
}

.commentlist li {
	background: #f8f8f8 url('images/headless_respondbg.jpg') repeat-x top;
	border: 1px solid #eaeaea;
	margin: 18px 0 0;
	padding: 10px;
	list-style: none;
	font-weight: bold;
}

.commentlist li .avatar {
	float: right;
	padding: 0px 0px 9px 18px;
}

.commentlist cite,.commentlist cite a {
	font-weight: bold;
	font-style: normal;
}

.commentlist p {
	font-weight: normal;
	font-size: 12px;
	text-transform: none;
}

.commentmetadata {
	margin: 0;
	display: block;
	font-weight: normal;
	padding-bottom: 20px;
	line-height: 14px;
}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Comments response form */
div#respond {
	background: #f8f8f8 url('images/headless_respondbg.jpg') repeat-x top;
	padding: 17px;
	margin-top: 36px;
	border: 1px solid #eaeaea;
}

#commentform input.text {
	width: 170px;
	line-height: 18px;
	font-size: 18px;
	margin: 9px 5px 0px 0px;
	background: #eaeaea url('images/headless_inputbg.jpg') repeat-x top;
	border: 1px solid #dbdbdb;
}

#commentform textarea {
	width: 646px;
	padding: 8px;
	background: #eaeaea url('images/headless_inputbg.jpg') repeat-x top;
	border: 1px solid #dbdbdb;
	font-size: 12px;
	line-height: 18px;
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
	color: #111;
	margin-bottom: 9px;
}

#commentform #submit {
	margin: 0;
	float: right;
}

.entry form {
	text-align: center;
}

select {
	width: 130px;
}

.submit {
	position: relative;
	top: -18px;
}

/* Navigation */

.navigation {
  color: #CCC;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 40px;
}

.navigation a {
  color: #AAA;
}

.navigation a:hover {
	color: #900;
}

.nav-previous {
	float: left;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

#nav-above {
	margin: 0 0 18px 0;
}

#nav-above {
	display: none;
}

.paged #nav-above,.single #nav-above {
	display: block;
}

#nav-below {
	margin: -18px 0 0 0;
}

li.subtitle {
	color: #900;
	font-size: 14px;
	font-weight: bold;
}

/* menu breadcrumb */
.breadcrumb, .fbreadcrumb{
  position:relative;
  height:30px;
  width:100%;
}

.breadcrumb ul{
  position:relative;
  margin:0 5px 0 5px;
  padding:0;
  height:30px;
  background:url('images/breadcrumbImage.png') 0px -30px repeat-x;
}

.breadcrumb ul li, .fbreadcrumb ul li{
  padding:0;
  margin:0;
  list-style:none;
  float:left;
  height:30px
  display:inline;
}

.breadcrumb ul li a{
  line-height:30px;
  display:block;
  background:url('images/breadcrumbImage.png') 100% -60px no-repeat;
  padding:0 17px 0 15px;
}

.breadcrumb .left{
  position:absolute;
  top:0px;
  left:0px;
  width:10px;
  height:30px;
  display:block;
  z-index:1;
  background:url('images/breadcrumbImage.png') 0% 0px no-repeat;
}

.breadcrumb .right{
  position:absolute;
  top:0px;
  right:0px;
  width:10px;
  height:30px;
  display:block;
  z-index:1;
  background:url('images/breadcrumbImage.png') 100% -90px no-repeat;
}

/* footer breadcrumb */
.fbreadcrumb .body{
  position:relative;
  margin:0 5px 0 5px;
  padding:0px;
  height:30px;
  width: 99%;
  background:url('images/fbreadcrumbImage.png') 0px -30px repeat-x;
  line-height: 28px;
  font-weight: bold;
}

.fbreadcrumb .left{
  position:absolute;
  top:0px;
  left:0px;
  width:10px;
  height:30px;
  display:block;
  z-index:1;
  background:url('images/fbreadcrumbImage.png') 0% 0px no-repeat;
}

.fbreadcrumb .right{
  position:absolute;
  top:0px;
  right:0px;
  width:10px;
  height:30px;
  display:block;
  z-index:1;
  background:url('images/fbreadcrumbImage.png') 100% -90px no-repeat;
}

.fbreadcrumb {
  color: #FFF;
  text-align: center;
}

